/* add fonts */
@font-face {
    font-family: Radio Canada;
    src: url('Fonts/RadioCanada.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('Fonts/Raleway.ttf');
}

* {
    -webkit-font-smoothing: antialiased;
}

/* remove all the decoration for the button */
button {
    all: unset;
    cursor: pointer;
}

#header {
    position: static;
    width: 100%;
    height: 100px;
    padding: 10px;    
}

.header-block {
    display: inline;
    font-family: Raleway;    
}

#logo {
    width: 80px;
    margin-left: 20px;
    margin-top: 5px;
}

#remark {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .1rem;
    left: 35%;
    position: relative;
    vertical-align: middle;
    padding-top: 10px;   
}

#languageSwitcher {
    font-size: 25px;
    font-weight: 200;
    margin-top: 20px;
}

.header-block:last-of-type {    
    float: right;
    margin-right: 20px;
    position: relative;
}

#gradient-container {
    position: relative;
    height: 300px;
    margin-bottom: 70px;
}

#gradient-zone {
    height: 300px;
    background-color: rgb(119,120,83);
    background-image: radial-gradient(circle, rgba(119,120,83,1) 0%, rgba(9,27,49,1) 86%);
}

#title {
    font-family: Radio Canada;
    font-size: 40px;
    font-weight: 400;
    width: 900px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 50%;
    margin-top: -20px;
    z-index: 5;
}

.section {
    position: relative;
    margin-bottom: 45px;
}


.hero-image {
    max-width: 100%;
}

.hero-button {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
}

.hero-text {
    font-family: Raleway;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    line-height: 1.3em;
}


.hero-content-wrapper {
    position: relative;
}

/* individual styling for hero titles */

#hero-introduction, #hero-idea, #hero-remote {
    left: 50px;
    top: 35px;
}

#hero-route, #hero-people {
    text-align: right;
    right: 0;
    right: 50px;
    top: 35px;
}

#hero-languages { 
    width: 600px;   
    left: 50%;
    margin-left: -300px;
    text-align: center;
    top: 15%;
}

#hero-future {
    font-size: 100px;
    font-weight: 200;
    color: white; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.section-content {
    display: none;
    overflow: hidden;
    background-color: #dfe1de;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    padding-left: 30px;
}

.section-content p {
    margin-bottom: 10px;
}

.section-content p:first-of-type {
    margin-top: 8px;
}

footer {
    width: 100%;
    height: 100px;
    font-family: Raleway;
    font-weight: 100;
    font-size: 20px;
    color: white;
    background-color: #142534;
    margin-top: 70px;
    display: flex;
    align-items: center;
}

#footer-mobile {
    display: none;
    font-size: 16px;   
    margin-top: 20px;
    margin-left: 20px;
}

.footer-block {
    vertical-align: middle;
    margin-top: 20px;
}

.footer-block:first-of-type {
    margin-left: 60px;
}

#year {
    position: relative;
    font-size: 25px;
    left: 35%;
}

#year-mobile {
    font-size: 18px;
}

.footer-block:last-of-type {
    margin-left: auto;
    margin-right: 60px;
}

/* the responsive part */

@media screen and (min-width: 1200px) {    
    .container {
        max-width: 80% !important;
    }
}

@media screen and (max-width: 1400px) {
    #hero-introduction, #hero-idea, #hero-route, #hero-remote, #hero-people, #hero-languages {
        font-size: 60px;
    }

    #year {
        left: 30%;
    }
}

@media screen and (max-width: 990px) {
    .container {
        min-width: 90%;
    }

    #remark {
        left: 25%;
    }

    #title {
        width: 600px;    
        margin-left: -300px;
        margin-top: -42px;
    }
    
    #gradient-container {
        height: 200px;
        margin-bottom: 45px;
    }

    #gradient-zone {
        height: 200px;
    }

    #hero-introduction, #hero-idea, #hero-remote {
        font-size: 40px;
        top: 20px;
        left: 30px; 
    }   

    #hero-route, #hero-people {
        font-size: 40px;
        top: 20px;
        right: 30px;
    }
    
    #hero-languages {
        font-size: 40px;
    }

    #hero-future {
        font-size: 80px;
    }

    #year {
        left: 20%;
    }

    footer {        
        margin-top: 45px;
    }

    .footer-block:first-of-type {
        margin-left: 40px;
    }

    .footer-block:last-of-type {
        margin-right: 40px;
    }
}

@media screen and (max-width: 650px) {
    #remark {
        left: 20%;
    }

    #title {
        font-size: 34px;
        width: 500px;    
        margin-left: -250px;
        margin-top: -36px;
    }

    #hero-introduction, #hero-remote {
        font-size: 35px;
        left: 25px;
    }

    #hero-idea {
        font-size: 30px;
        left: 25px;
    }

    #hero-route, #hero-people {
        font-size: 30px;
        right: 25px;
    }

    #hero-languages {
        top: 12%
    }

    #hero-future {
        font-size: 70px;
    }

    .section {
        margin-bottom: 32px;
    }

    .section-content {
        font-size: 17px;
        padding: 15px;
    }

    .section-content p {
        margin-bottom: 6px;
    }
    
    .section-content p:first-of-type {
        margin-top: 0;
    } 
    
    .section-content p:last-of-type {
        margin-bottom: 0;
    } 

    #year {
        left: 10%;
    }
}

@media screen and (max-width: 550px) {
    .container {
        --bs-gutter-x: 0 !important;
    }
    
    #logo {
        margin-left: 10px;
    }    

    #remark {
        left: 15%;
    }

    #title {
        font-size: 34px;
        width: 300px;    
        margin-left: -150px;
        margin-top: -55px;
    }

    .hero-text {
        font-size: 40px;
    }

    #hero-languages {
        font-size: 35px;
    }

    #hero-future {
        font-size: 50px;
    }

    .footer-block {
        display: none;
    }

    #footer-mobile {
        display: block;
    }
}

@media screen and (max-width: 450px) { 
    #hero-introduction, #hero-remote {
        font-size: 30px;
        left: 15px;
    }

    #hero-idea {
        font-size: 25px;
        left: 15px;
    }

    #hero-route, #hero-people {
        font-size: 25px;
        right: 15px;
    }

    #hero-languages {
        font-size: 30px;
    }
 }

@media screen and (max-width: 420px) {    
    #remark {
        font-size: 25px;
        left: 10%;
    }    
    
    #languageSwitcher {
        margin-top: 25px;
        font-size: 20px;
    }

    .hero-text {
        font-size: 28px;
    }
}


@media screen and (max-width: 350px) {
    #remark {
        left: 7%;
    }    

    #logo {
        margin-left: 5px;
    }    

    .header-block:last-of-type { 
        margin-right: 10px;
    }
}
